.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.top-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 70%;
  }

  .search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 70%;
  }
}

.movie-area {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;

  .about-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .actor {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
  }

  .review {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;

    .stars {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 0.9rem;
    }
  }
}