@use '../abstract/colors' as *;

@import '../reset';

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

$primary: $gray-0;
$background: $white;

$font-family: 'Inter', sans-serif;
$font-size: 12px;

$border-radius: 4px;
$border-width: 1px;

$shadow: 0 2px 4px rgba($black, 0.1);

span.bold {
  font-weight: 600;
}

.bg-white {
  background-color: $white;
}