.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}

.top-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 70%;
  }

  .search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 70%;

    .input-base {
      width: 100%;
      flex:1
    }

    .button-base {
      width: 100%;
      flex:1
    }
  }
}

.movie-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .about-area {
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
    gap: 1rem;

    .actor {
      display: flex;
      flex-direction: row;
      gap: 0.9rem;
    }
  
    .review {
      display: flex;
      flex-direction: row;
      gap: 0.9rem;
  
      .stars {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
      }
    }
  }

  .poster-area{
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}


@media screen and (max-width: 740px) {
  .top-area {
    width: 100%;
    padding: 0;

    .title {
      width: 100%;
    }

    .search-area {
      width: 100%;
    }
  }

  .movie-area {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 0;

    .poster-area{
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 640px) {
  .top-area {
    .search-area {
      width: 100%;
      flex-direction: column;
      gap: .75rem;

      input {
        width: 100%;
      }
    }
  }
}