main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  // min-height: 560px;
  max-width: 970px;
  height: 660px;
  overflow-y: auto;
}